.borderrad {
	border-radius: 3px;
}

#wrapper {
	clear: left;
	width: 250px;
	padding: 1px 3px;
	border: solid #676767 2px;
}

#wrapper button {
	float: right;
	width: 80px;
}

#wrapper button img {
	float: left;
	margin-top: 2px;
	height: 14px;
	width: 14px;
}

#cathigh {
	float: right;
	width: 330px;
	margin: 0px 20px;
}

#quiz {
	width: 1000px;
	text-align: left;
	margin: 1em auto;
	border: 1px solid #676767;
}

header {
	clear: both;
	padding: 10px;
	position: relative;
	background-color: #58CEFF;
	border-bottom: solid black 1px;
	text-align: left;
}

header h1 {
	font-family: Courier;
	font-size: 140%;
}

#login {
	margin: 20px 200px 40px 20px;
	height: 520px;
	width: 50%;
	border: solid gray 2px;
	background-color: #DADADA;
	padding-left: 100px;
}

#login h1 {
	font-family: Courier;
	font-size: 140%;
}

#catalog {
	margin: 20px 0px;
	height: 240px;
	position: relative;
	border: solid #58CEFF 2px;
	padding: 10px;
	text-align: left;
}

#catalog h1 {
	font-family: Courier;
	font-size: 140%;
}

#laufschrift{
		width:100%;
		height:100%;
		border: white;
		background-color:#58CEFF;		
		font-size:50px;
}
table tr th {
	padding-right:80px;
	
}
#catalog ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	line-height: 180%;
}

#catalog ul li p {
	padding-left: 10px;
	background-color: #DADADA;
}

#highscore {
	margin: 20px 0px;
	height: 216px;
	border: solid #58CEFF 2px;
	padding: 10px;
}

#highscore h1 {
	font-family: Courier;
	font-size: 140%;
}

#highscore h2 {
	float: left;
	padding: 0px 30px;
	font-family: Courier;
	font-size: 120%;
}

#footer {
	clear: both;
	padding: 5px;
	font-size: 70%;
	text-align: right;
	background-color: #58CEFF;
	border-top: solid #676767 1px;
}
